h1{color: darkred;
	font-size: 3.0em;
	font-family: 'Passions Conflict', cursive;}
h2{color: #FFD700;
	font-size: 2.5em;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;}
h3{color: darkred;
	font-size: 2.0em;
	font-family: 'Kalam', cursive;}
h4{color: darkred;
	font-size: 1.5em;
	font-family: 'Rock Salt', cursive;}
h5{font-size: 2.5em;
	font-family: 'Splash', cursive;}
body{background-color: #181818}
.column{
	float: left;
	width: 50%;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}