h1{color: #990000;
	padding: 50px;
	width: 500px;
	font-size: 3.0em;
	font-family: 'Passions Conflict', cursive;}
h2{color: #990000;
	padding: 50px;
	width: 850px;
	font-size: 2.0em;
	font-family: 'Amatic SC', cursive;}
h3{font-size: 2.5em;
	font-family: 'Splash', cursive;}
body{background-color: #414141}
.column{
	float: left;
	width: 50%;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}