h1{color: darkred;
	font-size: 2.4em;
	font-family: 'Amatic SC', cursive;}
h2{font-size: 3.5em;
	text-align: center;
	font-family: 'Splash', cursive;}
h3{color: #880808;
	font-size: 3.5em;
	text-align: center;
	font-family: 'Splash', cursive;}
body{background-color:  #39004d}