h1{color: #880808;
	font-size: 2.6em;
	font-family: 'Black Ops One', cursive;}
h2{color: #880808;
	font-size: 3.0em;
	font-family: 'Covered By Your Grace', cursive;}
h3{text-align: center;
	color: #FFD700;
	font-size: 4.5em;
	font-family: 'League Script', cursive;}
h4{color: #880808;
	font-size: 2.5em;
	font-family: 'Splash', cursive;}
body{background-image: url(https://img.freepik.com/free-photo/team-soldiers-walk-city-after-nuclear-war-illustration_456031-28.jpg?w=1380&t=st=1671406861~exp=1671407461~hmac=b76a9c54436fd980bbeba0d11cc46fcc8777d145f14b21847101c771545471a8)}