h1{font-size: 4.5em;
	text-align: center;
	font-family: 'Passions Conflict', cursive;}
h2{font-size: 2.5em;
	font-family: 'Splash', cursive;}
body{background-color: #00EBEE}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}